body {
    background-color: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #00ffcc;
    border: none;
}

.high {
    color: red;
}

.low {
    color: green;
}
