<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <style>

        body{
            font-family: Arial;
            background-color:#0f172a;
            color:white;
            text-align:center;
            padding-top:100px;
        }

        .box{
            background:#1e293b;
            padding:40px;
            border-radius:10px;
            width:400px;
            margin:auto;
        }

        a{
            color:#38bdf8;
            text-decoration:none;
        }

    </style>
</head>

<body>

<div class="box">

<h1>Contact Me</h1>

<p>Email:</p>
<a href="mailto:ayushnandavade@gmail.com">
ayushnandavade@gmail.com
</a>

<br><br>

<p>Instagram:</p>

<a href="https://instagram.com/https.aysh0.3" target="_blank">
@https.aysh0.3
</a>

</div>

</body>
</html>