<!DOCTYPE html>
<html>
<head>
    <title>Cyber Threat Intelligence</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Cyber Threat Intelligence Dashboard</h1>
        <form method="POST">
            <br>
<div style="text-align:center; margin-bottom:15px;">
    <a href="/statistics" style="color:#00C851; font-weight:bold;">
        View Statistics
    </a>
</div>
            <input type="text" name="ip" placeholder="Enter IP Address" required>
            <button type="submit">Scan</button>
        </form>
    </div>
    <footer style="
    text-align:center;
    margin-top:40px;
    padding:15px;
    font-size:14px;
    color:#888;">
    Made by  <strong>Ayush & Tejas </strong>
</footer>

</body>
</html>